/antibody_meeting_inputs
/iitp_inputs
/iitp_outputs
/log
/templates_check
/vis
/emb_vis
/inference_pdb
ab_train.json
all_clstr.json
input_inference.json
test_set_id.json
test_set2.json
999th_epi_5sx4_H_L_N_3.pdb
ag_dict.json
alphafold2.log
alphafold2.pdb
alphafold2.rsa
check.png
diff.png
distogram.png
gpu01_dict.json
gpu01_dict2.json
gpu02_dict.json
hi.npz
read_pkl.py
savefig.png
submit_inference.sh
submit_predict.sh
test.log
true.png